.OpeningsDiv{

    height:100vh;
    width:100%;
   background-color:#E2F8E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    color:#343736;

    
  }

  .openingImage{
    height: 400px;
    width:370;
  }

  .OpeningSubDiv{
    width:100%;
    text-align: center;
  }

  .OpeningHead{
    color: #015441;
    font-weight:900;
  }

  .OpeningPara{
    font-size: 20px;
    font-weight: 450;
  }

  .LanguageSelection {
    margin-top: 20px;
  }
  
  .LanguageButton {
    display: flex;
    gap: 10px;
  }
  
  .LanguageButton {
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 600;
    color: #3C3F3E;
    cursor: pointer;
    background-color:#F0FCF6;
    border: 1px solid #015441;
    border-radius: 17px;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
  }

  .Choose{
    color:#015441;
  }

  .LanguageDiv{
    width:60%;
    text-align: center;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .LanguageButtonsDiv{
      display: flex;
      flex-direction: column;
      width:100%;
      justify-content: space-around;
      align-items: center;
      height:200px;
  }
  
  .LanguageButton:hover {
    background-color: #C2FCCB;
  }
  
  .LanguageButton.selected {
    background-color: #015441;
    color: white;
  }

  .ContinueButton{
    background-color:#FC6252;
    border-color:#FC6252;
    color:#ffffff;

  }

  .ContinueButton:hover{
    background-color: #ECABA4;
  }

  .OpeningsLanguageDiv{
    height:100vh;
    width:100%;
   background-color:#E2F8E7;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .OpeningsLanguageImg{
    height:300px;
    width:150px;
  }

